
# Ignore Node.js modules and build output
node_modules/
build/

# Ignore editor/IDE specific files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore environment variables file
.env

# Ignore test files if not needed in production image
*.test.ts
*.spec.ts
