
services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8001:8001"
    container_name: ai_portfolio_backend
    restart: always
    env_file:
      - .env
    environment:
      - ALLOWED_ORIGINS=http://localhost
      - ENV=production
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "80:80"
    container_name: ai_portfolio_frontend
    restart: always
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
