fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-core
langchain-huggingface
langgraph
google-generativeai
sentence-transformers
faiss-cpu
pandas
bleach
structlog
sentry-sdk[fastapi]
tenacity
redis
gunicorn
pip-tools
pytest
alembic
psycopg2-binary
python-multipart
supabase